.footer {
    border-top: 1px solid #eaeaea;
    min-height: 300px;
    background-color: #baa62f;
    .footerLogo {
    }
    .footerInfo {
      color: #190301;
      font-size: inherit;
    }
    .footerContact {
      .footerContactIcon {
        color: #190301;
      }
      .footerContactImage {
        cursor: pointer;
      }
      .footerContactIcon:hover {
        color: white;
        cursor: pointer;
      }
    }
}
  